article {
  height: 450px;
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 1200px;
  opacity: 0;
  transform: translateY(25%);
  transition: all .3s ease-in-out;
}

article.animate {
  opacity: 1;
  transform: translate(0);
}

article > img,
article > .article-body {
  width: 50%;
}

.article-body {
  padding: 1em 2em 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.article-body > p:first-child {
  color: #B5B5B5;
  font-size: 17px;
  margin-bottom: 2em;
}

.article-body > p {
  font-size: 21px;
  margin-bottom: auto;
}

.article-body > h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 1em;
}
