.recent-article {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1em;
  cursor: pointer;
}

.recent-article img {
  height: 4rem;
}

.recent-article h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 12rem;
  font-size: 1rem;
  font-weight: bold;
}

.recent-article section {
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: space-between;
  padding: 0.5em 0 0.5em 0.5em;
}

.recent-article section time {
  color: #B5B5B5;
}

@media (max-width: 85rem) {
  .recent-article {
    display: none;
  }
}
