.banner {
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  background-color: var(--color-lightgreen);
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.banner > div {
  max-width: 600px;
  text-align: center;
}

.banner h1 {
  font-size: 58px;
  line-height: 1.15em;
  letter-spacing: -0.03em;
  margin-bottom: 1.5rem;
}

.banner h1 > span {
  color: var(--color-primary)
}

.banner p {
  font-size: 21px;
}

.home-grid {
  display: grid;
  padding: 5%;
  background-color: var(--color-lightgrey);
  grid-template-columns: auto 300px;
  column-gap: 2rem; 
}

@media (max-width: 85rem) {
  .home-grid {
    grid-template-columns: auto;
  }
  .articles {
    order: 2;
  }
  
}

@media (max-width: 50rem) {
  .banner h1 {
    letter-spacing: -.03em;
    font-size: 2.5rem;
  }
}