@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

@font-face {
  src: url('./assets/fonts/kumb-sans.ttf');
  font-family: "Kumbh Sans";
}

:root {
  --color-primary: #397f6e;
  --color-primary-transparent: rgba(57, 127, 110, 0.2);
  --color-text: #000000;
  --color-disabled: #d9d9d9;
  --color-lightgrey: #f6f7f9;
  --color-lightgreen: #ebf2f1;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

body {
  font-family: "Assistant", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
}

.hover {
  transition: box-shadow 0.1s ease-in-out;
  border-radius: .5rem;
}

.hover:hover {
  box-shadow: 0 0 0 0.33rem var(--color-primary-transparent);
}